@import url('https://fonts.googleapis.com/css?family=Lato');

.CardTitle
{
	background-color:  #17a2d4;
	color:  #f4f4f4;
	font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	padding: 20px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}