@import url('https://fonts.googleapis.com/css?family=Lato');

.Button
{
	width: 100%;
	border: none;
	padding: 15px;
	cursor: pointer;
	font-family: 'Lato';
	font-size: 18px;
	font-weight: 400;
	color:  #ffffff;
	border-radius: 3px;
}



